<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
  <a class="navbar-brand" routerLink="/reports">{{ 'menu.home' | translate }}</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" title="{{ 'menu.titleInforme1' | translate }}" routerLink="/reports/better-five-students">{{
          'menu.informe1' | translate
        }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" title="{{ 'menu.titleInforme2' | translate }}" routerLink="/reports/better-ten-students">{{
          'menu.informe2' | translate
        }}</a>
      </li>
    </ul>
  </div>
</nav>
